.header{
	font-family:small arial;
}
.header{
  position:absolute;
  top:15px;
  width:100%;
  height:40px;
}
.footer{
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  background-color:#f2f2f2;
  border-top:1px solid #e4e4e4;
  line-height:25px;
}
.footer ul{
  list-style-type:none;
}
.footer li{
  position:relative;
  top:-8px;
}
.leftlist{
  position:relative;
  left:-25px;
  float:left;
}
.rightlist{
  position:relative;
  right:25px;
  float:right;
}
.leftlist li{
  float:left;
  display:block;
  margin-left:35px;
}
.rightlist li{
  float:right;
  display:block;
  margin-right:35px;
}
.center{
	margin:auto;
	width:664px;
	text-align:center;
	padding:120px;
	padding-top:270px;
}
.search{
	box-sizing:border-box;
	padding:10px 15px;
	margin:20px auto;
	width:100%;
	border-radius:0;
	border-color:#999;
	border-style:solid;
	border-width:1px;
}
.search:focus{
	border-color:rgb(25,138,255);
}
.header .navbar{
  list-style-type: none;
  float:right;
  text-align:right;
  padding:5px;
  margin:10px;
}
.header li{
  float: left;
  display: block;
  margin-right: 15px;
}
.header a{
	color:black;
}
.footer a{
  color:#666;
}
.header a,.footer a{
  text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.signin{
  position:relative;
  top:-4px;
  background-color: rgb(25,138,255);
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.text{
  position:relative;
  top:+2px;
}